* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: #333333;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    justify-items: center;
}
nav a:hover {
    background: black;
}
nav ul li:nth-child(5) {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin-left: auto;
    padding-top: .2em;
    padding-bottom: .2em;
    position: center;
}

nav ul li:nth-child(6) {
    margin-left: auto;
}